<meta name="description" content="Simple database display"/>
<meta name="author" content="Rotterdam Academy"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8"/>
<link rel="stylesheet" href="/static/basic.css" type="text/css">
<link rel="icon" type="image/x-icon" href="/static/logotestcorrect.ico">
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>