<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/static/logotestcorrect.ico">
    <meta charset="utf-8"/>
    <title>Vraag bewerken</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
    <style>
        textarea {
            resize: none;
        }
    </style>
</head>
<body style="background-color:darkcyan;">
    <img src="/static/logotest.png" width="200" height="100"> 
</body>
<main>
    <h1>Database onderzoek</h1>
    <a href="/null_values">Terug</a>
    <p>Vraag {{ id }} bewerken:</p>
    <form method="POST">
        <input type="hidden" name="id" value="{{ id }}" />
        <label for="learningGoal">Leerdoel</label><br />
        <input type="number" name="learningGoal" value="{{ learningGoal }}" id="learningGoal" /><br />
        <label for="question">Vraag</label>
        <textarea name="question" rows="10" cols="100" id="question">{{ question }}</textarea>
        <label for="author">Auteur</label><br />
        <input type="number" name="author" value="{{ author }}" id="author" /><br />
        <input type="submit" value="Opslaan" />
    </form>
</main>
</body>
</html>