<!DOCTYPE html>
<html lang="en">
<head>
        <style>
        table, th, td {
          border: 1px solid white;
          border-collapse: collapse;
        }
        th, td {
          background-color: #96D4D4;
        }
        </style>
        </head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/x-icon" href="/static/logotestcorrect.ico">
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body style="background-color:darkcyan;">
<img src="/static/logotest.png" width="200" height="100"> 
</body>
<main>
    <h1>Database onderzoek</h1>
    <p>Alle rijen in de tabel <b>{{ table_name }}</b>:</p>
    <table>
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            {% for field in row %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>

    </table>
</main>
</body>

</html>
